#appTopNav {
    /* https://cloudscape.design/components/top-navigation/?tabId=api */
    position: sticky;
    top: 0;
    z-index: 1999;
}
div.awsui_title_k5dlb_ko4bx_222::before {
    content:url(https://www.globo-tek.com/hubfs/3ed9d757.webp);
 }​